<app-header></app-header>
<div class="app-body">
  <div class="sidebar">
  <app-sidebar></app-sidebar>
</div>
  <main class="main">
    <!--<div class="container">
      <div class="starter-template">
          <h1>Bootstrap starter template</h1>
          <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>
    </div> -->

    <router-outlet></router-outlet>
  </main>
</div>

<app-footer></app-footer>

